/* #44b9fc: #44b9fc; */
/* #154e7d:#154e7d; */
/* white: white; */
.outer{
  margin: auto;
  margin-top: 15%;
  background: #44b9fc;
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.middle{
  height: 60px;
  width: 60px;
  margin:auto;
  position: relative;
  top:20px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, #154e7d 50%),linear-gradient(90deg, #154e7d 50%, white 50%);
   /* -webkit-animation: rotation 1200ms infinite linear; */
  transform-origin: 50% 50%;
  animation-timing-function: ease;
}
.inner{
  background: #44b9fc;
  height: 48px;
  width: 48px;
  margin:auto;
  position: relative;
  top:6px;
  border-radius: 50%;
}

.blurcontainer div:not(.popup){
    /* width:100%; */
    /* height:100%; */
    /* min-height:400px; */
    position:relative;
    filter: blur(0.9px);
    /* z-index:1; */
  }
/* @-webkit-keyframes rotation {
from {
  -webkit-transform: rotate(270deg);
}
to{
  -webkit-transform: rotate(630deg);
  }
} */

.popup{
    width:500px;
    height:500px;
    position:absolute;
    top: 25%;
    left:50%;
    transform:translate(-50%, -50%);
    /* background:#f00; */
    z-index:10;
    filter: blur(0);
    filter: none;
  }